<title>24h Heidelauf</title>

<link rel="stylesheet" href="{{ mainCssPath }}">

<link rel="shortcut icon" href="{{ templateDir }}/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ templateDir }}/favicon.ico" type="image/x-icon">

{% for jsPlugin in jsPlugins %}
    <script src="{{ templateDir }}{{ jsPlugin }}"></script>
{% endfor %}

    {% for jsPlugin in jsRoutePlugins %}
    <script src="{{ templateDir }}{{ jsPlugin }}"></script>
{% endfor %}
